.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}
body{
  background-color: black!important;
  color: white!important;
}.ha{
  width: 0px;
  height: 100%;
}
.imgc{
  height: 400px;
  width: 400px;
}
.hr{
  width: 70%;
  margin: auto;
}.lr{
  margin-left: 10rem!important;
}
.bold{
  font-weight: 500;
}.accordion-item {border: solid white!important;}
.lgscreen{
  margin-left: 16rem;
    width: 58.333333%!important;
}.clr{
  background-color: black!important;
}.accordion-item:last-of-type {border: solid white!important;}
.accordion-item:first-of-type .accordion-button{
  background-color: black!important;
  color: white!important;
}.accordion-body{
  color: white!important;
}.accordion-button {
color:white!important;
background-color: black!important;}
.btn3{ 
  background: black;
  color: white!important;
  border-radius: 12px!important;
  padding-left: 2rem!important;
  border: solid #f8f9fab0!important;
  padding-right: 2rem!important;
  padding-bottom: 1rem!important;
padding-top: 1rem;}
.btn4{ 
  background: black;
  color: rgb(0, 0, 0)!important;
  border-radius: 12px!important;
  padding-left: 2rem!important;
  border: solid!important;
  padding-right: 2rem!important;
  padding-bottom: 1rem!important;background-color: #00E8A2;
padding-top: 1rem;
margin-top: 1rem;}
.thin{
  font-weight: 100;
}
.helperText{color: #ffffff8f;margin-top: 0.5rem;}
.banner{
  object-fit: cover;
  width: 100%;
  background-size: cover;
  height: 25rem;}
  .btn{margin-top: 19rem!important;
    background: black;
    color: white!important;
    border-radius: 12px!important;
    padding-left: 2rem!important;
    border: solid #f8f9fab0!important;
    padding-right: 2rem!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;backdrop-filter: blur(6px);}
    .btn1{margin-top: 19rem!important;
      color: rgb(0, 0, 0)!important;
      border-radius: 12px!important;
      padding-left: 2rem!important;
      padding-right: 2rem!important;
      padding-top: 1rem!important;
      padding-bottom: 1rem!important;
      background: #3fa02b;
    border: none;}
    .center{text-align: center;}
    .primarycolor{
      color: #00E8A2;

    }.font{     
    font-weight: 400;
    }.xss{margin-left: 10px;}
    .xs{margin-bottom: 5px;}
    .primarybotton{
      background-color: #00E8A2;
      border-radius: 8px;
      border: solid!important;
      color: black;
      font-weight: 500;
    }
    @import url(https://fonts.googleapis.com/css?family=Lato:700);
.ml{margin-left: 3.5rem!important;}.blur{  backdrop-filter: blur(5px);
}
.box {
  position: relative;
  max-width: 80%;
  width: 80%;
  height: 100%;
  backdrop-filter: blur(5px)!important;
border: solid #004c37;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}.box1 {
  position: relative;
  max-width: 80%;
  width: 80%;
  height: 100%;
  border-radius: 16px;
  backdrop-filter: blur(5px)!important;
border: solid #004c3690;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.row {
  --bs-gutter-x: 0rem!important;}
.bgcolor{    background: radial-gradient(circle, rgba(0,255,183,0.5247141092765231) 0%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 100%)!important;
}
/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}.col1{flex: 0 0 auto!important;
  width: 11.333333%!important;}
.mt{
  margin-top:15rem!important;
}p {
  margin-top: 0!important;
  margin-bottom: 0.5rem!important;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid rgb(39, 130, 113);
}
.ribbon span {
  position: absolute;
  display: block;
  font-size: smaller!important;
  width: 225px;
  padding: 12px 0;
  background: rgb(40,198,170);
  background: linear-gradient(198deg, rgba(40,198,170,1) 42%, rgba(0,0,0,1) 100%);  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: rgb(0, 0, 0);
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 43px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}.mm5{
  margin: 3rem;
  margin-top: 1rem!important;
}
.p5{
  padding: 3rem;
}
@media only screen and (max-width: 600px) {
 .imgc{
  height: 100%;
  width: 100%;
 }.n{
  margin-left: 2rem!important;
}.box{width: 100%;
max-width: 100%;}
 .lgscreen {
  margin-left: 0rem;
  width: 100%!important;
}.p5{
  padding: 0rem;
}.mla{
  margin-top: 3rem!important;
  margin-left: 1rem!important;
  margin-bottom: 1rem;
}.col1 {
  width: 29.333333%!important;
  margin-left: 18px;}.lr{
  margin-left: 0rem!important;
}.mm5{
  margin-top: 0rem;
  margin: 0rem!important;
}.box1{
  max-width: 100%;
  width: 100%;
}.mt{padding-left: 1rem!important;}.mb{
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}.ml{
  margin-left: 0rem;    width: 92%!important;

}.btn3{
  width: 88%;margin-top: 10px;
}.btn {
  margin-top: 15rem!important;
  margin-left: 4.8rem;}.btn1{
    margin: 0rem!important;
  }.container{padding-top: 2rem;
    --bs-gutter-x: 1.5rem!important;
  }.ml {
    margin-left: 17px!important;    margin-bottom: 2rem;
}.pt{
  padding: 2rem;
}.mob{
  margin-bottom: 2rem;
}.sizemob{margin-bottom: 4rem;}
}