body{
  background-color: black!important;
  color: white!important;
}
.bold{
  font-weight: 500;
}
.thin{
  font-weight: 100;
}
.helperText{color: #ffffff8f;margin-top: 0.5rem;}
.banner{
  object-fit: cover;
  width: 100%;
  background-size: cover;
  height: 25rem;}
  .btn{margin-top: 19rem!important;
    background: black;
    color: white!important;
    border-radius: 12px!important;
    padding-left: 2rem!important;
    border: solid #f8f9fab0!important;
    padding-right: 2rem!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;backdrop-filter: blur(6px);}
    .btn1{margin-top: 19rem!important;
      color: rgb(0, 0, 0)!important;
      border-radius: 12px!important;
      padding-left: 2rem!important;
      padding-right: 2rem!important;
      padding-top: 1rem!important;
      padding-bottom: 1rem!important;
      background: #3fa02b;
    border: none;}